body
{
background-color: darkslategrey;
}
header
{
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    font-size: larger;
}

form
{
    background-color: darkgray;
    width: 285px;
    padding: 5pt;
    border: 5pt solid rgb(26, 0, 0);
}
input[type="text"]
{
    font-size: 30pt;
    width: 205pt;
    height: 45pt;
    text-align: center;
    border: 2pt solid black;
}
p
{
    text-align: right;
    background-color: white;
    font-size: 20pt;
    width: 205pt;
    height: 30pt;
    border: 2pt solid black;
   
}

input[type="button"],
input[type="button"]:focus
{
    outline: transparent;
    width: 30pt;
    height: 30pt;
    border: 2pt solid black;
    font-size: larger;
    background-color: yellow;
}

input[type="button"]:active:focus
{
    border: 2pt solid rgb(243, 10, 1);
    font-size: 20pt;
}

input[type="button"]:hover
{
    border: 2pt solid rgb(209, 32, 32);
}
input[type="button"].button-clear 
{
    background-color: rgb(255, 0, 0);
    width: 73pt;
}
input[type="button"].button-equal
{
    background-color: blue;
    width: 73pt;
}
input[type="button"].button-delete
{
    background-color: orangered;
    width: 73pt;
}
input[type="button"].button-number
{
    background-color: rgb(173, 163, 163);
}




.div1
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-items: center;
    align-items: flex-end;

}

form>div>div
{
    background-color: rgb(134, 10, 10);
    display: flex;
    justify-content: space-between;
    
    width: max-content;
    flex-direction: row;
    padding: 5pt;
    width: 200pt;
    
}

